<!doctype html>
<html ng-app="myApp">
    <head>
        <script src="js/vendor/custom.modernizr.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/foundation.css"/>
        <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    </head>
    <body>
    <div class="title-bar">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        </div>
        <div style="horizontal-align: middle">
            <span class="title-bar-title">Foundation</span>
        </div>
    </div>
      
    <div class="panel" style="padding: 0px 50px 50px 50px">
        <h4>Scope Example 1</h4>
        <div ng-controller="MyController">
          {{ person.name }}
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Scope Example 2</h4>
        <div ng-controller="ParentController">
            <div ng-controller="ChildController">
                <input type="text" ng-model="person2.name" placeholder="Name"></input>
                <button ng-click="sayHello()">Say hello</a>
                <button style="margin:10px" ng-click="reset()">Reset</a>
            </div>
          {{ person2 }}
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Scope Example 3 - Data binding</h4>
        <div ng-controller="MyController">
            <input type="text" ng-model="person.name" placeholder="Enter your name" />
            <h5>Hello {{ person.name }}</h5>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Scope Example 4 - Data binding with clock</h4>
        <div ng-controller="myClock">
          <h5>Current Time: </h5>
          <h5>{{ clock }}</h5>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Scope Example 5 - The simplest adding machine ever</h4>
        <div ng-controller="DemoController">
          <h4>Current count: {{ counter }}</h4>
          <button ng-click="add(1)" class="button">Add</button>
          <button ng-click="subtract(1)" class="button">Subtract</button>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Scope Example 6 - Directives</h4>
        <div ng-controller="MyController">
            <input type="text" ng-model="name" placeholder="Enter your name" />
            <h5>your name is: {{ name }}</h5>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Scope Example 7 - Expressions</h4>
        <div ng-live-result="" ng-placeholder="Try an expression" ng-model="testExpression">
            <input type="text" ng-model="ngModel" placeholder="">
            <pre class="syntax-highlight result ng-binding">= 3</pre>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 8 - using ng-init</h4>
        <div>
            <b ng-init='name = "Henry"'>Hello, {{ name }}</b>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 9 - using ng-click</h4>
        <div>
            <button ng-click="counter = counter + 1">Add one</button><br />
            Current counter: {{ counter }}
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <div ng-controller="AlertWindow">
            <h3>Example 10 - using ng-click to call a function</h3>
            <button ng-click="sayHello2()">Say hello</button>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 11 - using ng-show</h4>
        <p>ng-show / ng-hide</p>
        <div>
            <button ng-init="shouldShow = true" ng-click="shouldShow = !shouldShow">Flip the shouldShow variable</button>
            <div ng-show="shouldShow">
              <h3>Showing {{ shouldShow }}</h3>
            </div>
            <div ng-hide="shouldShow">
              <h3>Hiding {{ shouldShow }}</h3>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 12 - using ng-repeat</h4>
        <div ng-controller="LoopController">
            <ul>
              <li ng-repeat="person in group">{{ person.name }}</li>
            </ul>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 13 - repeat expression</h4>
        <div ng-controller="LoopController">
            <ul>
                <li ng-repeat="(name, favoriteColor) in color">{{ name }}'s favorite color is {{ favoriteColor }}</li>
            </ul>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 14 - Check GitHub Account</h4>
        <div ng-controller="ServiceController">
            <label for="username">Type in a GitHub username</label>
            <input type="text" ng-model="username" placeholder="Enter a GitHub username, like henry0422" />
            <pre ng-show="username" style="white-space: pre-wrap; overflow-x: auto; word-break: break-all; word-wrap: break-word;">{{ events }}</pre>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 15 - Name Filter</h4>
        <div ng-controller="ConvertToUpperCase">
            <input type="text" ng-model="name" placeholder="Set name to uppercase" />
            {{ name | uppercase }}
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 16 - Currency Filter</h4>
        <div ng-controller="Currency">
            <input type="text" ng-model="amount" placeholder="Enter an amount" />
            {{ amount | currency:'CAD $' }}
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 17 - Date and Time Filter</h4>
        <div ng-controller="TimeStamp">
            <div ng-model="timestamp">
                <a>Current Date: </a>
            </div>
            {{ today | date:'EEEE, MMM, d, y' }}
        </div>

        <br>
        <br>

        <div ng-controller="TimeStamp2">
            <div ng-model="timestamp2">
                <a>Current Time: </a>
            </div>
            UTC: {{ today | date: 'Z' }}<br>
            Time: {{ today | date: 'HH:mm:ss' }}<br>
            Date: {{ today | date: 'EEEE  MMM, d, y' }}
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>Example 18 - JSON Filter</h4>
        <p>The JSON filter will take a JSON, or JavaScript object, and turn it into a string.</p>
        <a>Code:</a>
        <div ng-non-bindable>
            <code>{{ {'name': 'Ari', 'City': 'San Francisco'} | json }}</code>
        </div>
        <br>
        <a>Result:</a>
        <div>
            {{ {'name': 'Ari', 'City': 'San Francisco'} | json }}
        </div>

        <h4>Example 19 - Customized Filter</h4>
        <a>Code:</a>
        <div ng-non-bindable>
            <code>{{ 'GINGER LOVES DOG BONES' | lowercase | capitalize }}</code>
        </div>
        <br>
        <a>Result:</a>
        <div ng-controller="ControllerForCapitalize">
            <text class="hidden" ng-model="isCapitalized" />
            {{ 'GINGER LOVES DOG BONES' | lowercase | capitalize }}
        </div>
    </div>
      
    <script>
      document.write('<script src=js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/beginner.js"></script>
    <script type="text/javascript">
      $(document).foundation();
    </script>
  </body>
</html>